@import './assets/css/common.scss';
@import './assets/css/colors.scss';

* {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
}

ul,ol,li { list-style: none; }

#root {

  @include flexbox(center, null);
  @include flexCol();
  
  overflow: hidden;
}